nav ul {
  display: flex;
}

.isOpen ul {
  display: flex;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
  }

  .isOpen nav ul {
    display: flex;
    flex-direction: column;
  }
}
